extends ../layout

block content
  .index-container
    #main
      .main-wrapper
        header
          nav
            .logo
              a(href='#') 张小窝
            ul
              li
                a(href='#') 首页
              li
                a(href='#') 目录
              li
                a(href='#') 赞助
              li
                a(href='#') 惊喜
          #banner
            .inner
              #line
                h1 张小窝
              p 你四不四傻啊
              button 咬我啊
              .more
                a(href='#')
                  i.icon-angle-down.icon-4x
        .content
          section.green-section
            .wrapper
              div
                h2 张小窝最可爱
                .hr
                        p 没有伞的孩子最容易感冒
              .icon-team
                span.icon
                  i.icon-cloud.icon-3x
                span.icon
                  i.icon-music.icon-3x
                span.icon
                  i.icon-thumbs-up.icon-3x
          section.gray-section
            .article-preview
              .img-section
                img(src='images/pic01.jpg', alt='')
              .text-section
               h2 泥垢了
                p 你过来，我不会把你扔海里
            .article-preview
              .text-section
                h2 红灯区
                p 请出示您的嫖娼许可证
              .img-section
                img(src='images/pic02.jpg', alt='')
            .article-preview
              .img-section
                img(src='images/pic03.jpg', alt='')
              .text-section
                h2 下班了
                p 今天的雪真是大
          section.purple-section
            .wrapper
              .heading-wrapper
                h2 web前端
                .hr
                p 三天打渔两天晒网
              .card-group.clearfix
                .card
                  h3
                    i.icon-plane.big
                    | HTML
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit 
                .card
                  h3
                    i.icon-desktop.big
                    | CSS
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit 
                .card
                  h3
                    i.icon-home.big
                    | Javascript
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit 
                .card
                  h3
                    i.icon-wrench.big
                    | jQuery
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit 
                .card
                  h3
                    i.icon-globe.big
                    | ASP
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit 
                .card
                  h3
                    i.icon-hdd.big
                    | Node.js
                  p Lorem ipsum dolor sit amet, consectetur adipisicing elit 
        
    //- #sidebar
    //- #load-container
    //-   .loader
    //-     .loading-1
    //-     .loading-2 Loading...
    //- #side
    //-   .upload-container
    //-     input#fileToUpload.fileupload(type='file', name='fileToUpload')
    //- div
    //-   img#j_imgPic(src='')
      //- #time.side-part
      //-   if pvresult
      //-     h1 zai
      //-   each cat in result
      //-     a #{cat._id.year}年#{cat._id.month}月(#{cat.count})
      //- #read.side-part
      //-   //- each pvcat in pvresult
      //-   //-   li #{pvcat.title}(#{pvcat.pv})
      //- #comment.side-part
  //- script(src="/js/index.js")   